<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
                &copy; 2020 <a href="https://waveclient.ga" class="font-weight-bold ml-1" target="_blank">Wave Client</a>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a href="https://balistik.ga" class="nav-link" target="_blank">Balistik</a>
                </li>
                <li class="nav-item">
                    <a href="http://forum.balistik.ga" class="nav-link" target="_blank">Forums</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/channel/UCoHq09KH9--wrbjZb6VMA1Q" class="nav-link" target="_blank">Youtube</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/WaveClient" class="nav-link" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</footer>